footer.footer
    .container-fluid
        p © Copyright 2021 Demo - Ho Chi Minh City (Vietnam)
        .list-socials 
            ul 
                li: a(href="#" target="_blank") 
                    i.fa.fa-google-plus
                li: a(href="#" target="_blank") 
                    i.fa.fa-facebook 
                li: a(href="#") 
                    i.icon.icon-zalo
        
// End Footer