// Nav Bar Start
header.navbar.navbar-expand-lg.bg-light.navbar-light
    .container
        h1: a.navbar-brand(href='index.html') DevDemo
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse.justify-content-between
            .navbar-nav.ml-auto
                a.nav-item.nav-link(href='/') Tin Tức
                a.nav-item.scroll.nav-link(href='#promotion1') Gói 1
                a.nav-item.scroll.nav-link(href='#promotion2') Gói 2
                a.nav-item.scroll.nav-link(href='#promotion3') Gói 3
// Nav Bar End
