// Nav Bar Start
header.navbar.navbar-expand-lg.bg-light.navbar-light
    .container-fluid
        h1: a.navbar-brand(href='index.html') DevDemo
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
            span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse.justify-content-between
            .navbar-nav.ml-auto
                a.nav-item.nav-link.active(href='#home') Home
                a.nav-item.nav-link(href='#about') About
                a.nav-item.nav-link(href='#service') Service
                a.nav-item.nav-link(href='#experience') Experience
// Nav Bar End
