extends layouts/_layout_default


block setting
    - title = "3Forcom"
    - ishomepage = true 

block content 
    #home.hero
        .container
            .row.align-items-center
                .col-sm-12.col-md-6
                    .hero-content
                        .hero-text
                            p I'm
                            h1 David Phong
                            h2
                            .typed-text Web Designer, Web Developer, Front End Developer, Apps Designer, Apps Developer
                        .hero-btn
                            a.btn(href='') Contact Me
                .col-sm-12.col-md-6.d-none.d-md-block
                    .hero-image
                        img(src='/images/hero.png' alt='Hero Image')
    section.t-card#promotion1.mt-120 
        .container
            .row
                .col-lg-8
                    .t-card_title 
                        h2 Gói ưu đãi
                        a.viewmore(href="#") Xem tất cả 
                    .t-card_list
                        .ui-cardList.small
                            each val in [1,2,2,1,2,1,1,2]
                                .ui-cardList_item
                                    +cardItem('Lorem ipsum', '150,000 VND', `/images/demo${val}.png`)
                .col-lg-4
                    .t-card_ads
                        a(href="#")
                            +image_ratio('/images/ads2.png','thumb','772x250') 
                        a(href="#").mt-10
                            +image_ratio('/images/ads2.png','thumb','772x250') 
                        a(href="#").mt-10
                            +image_ratio('/images/ads2.png','thumb','772x250') 
    section.t-card.t-card_bg#promotion2.mt-60 
        .container
            .t-card_title 
                h2 Gói ưu đãi
                a.viewmore(href="#") Xem tất cả 
            .t-card_list
                .ui-cardList
                    each val in [1,2,2,1,2,1,1,2]
                        .ui-cardList_item
                            +cardItem('Lorem ipsum', '150,000 VND', `/images/demo${val}.png`)
    section.t-card#promotion3.mt-60 
        .container 
            .t-card_title 
                h2 Gói ưu đãi
                a.viewmore(href="#") Xem tất cả 
            .t-card_list
                .ui-cardList
                    each val in [1,2,2,1,2,1,1,2]
                        .ui-cardList_item
                            +cardItem('Lorem ipsum', '150,000 VND', `/images/demo${val}.png`)